body {
  font-family: "Roboto Mono", monospace;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #c5c6c7;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

header {
  background: #0b0c10;
  color: #66fcf1;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #45a29e 3px solid;
}

header a {
  color: #66fcf1;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  padding: 0;
  list-style: none;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

#showcase {
  min-height: 200px;
  background: #45a29e;
  color: #0b0c10;
  text-align: center;
  padding: 100px 20px;
}

#showcase h1 {
  font-size: 55px;
  margin-top: 0;
}

#showcase p {
  font-size: 20px;
}

#main {
  padding: 20px;
  background: #1f2833;
  color: #c5c6c7;
}

#main h2 {
  text-align: center;
  margin-top: 0;
}

footer {
  background: #0b0c10;
  color: #66fcf1;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  header #branding,
  header nav,
  header nav ul,
  header nav ul li {
    float: none;
    text-align: center;
    padding: 0;
  }

  header nav ul {
    padding: 0;
    list-style: none;
  }

  header li {
    display: block;
    padding: 10px;
  }

  .container {
    width: 90%;
  }

  #showcase {
    padding: 50px 20px;
  }

  #showcase h1 {
    font-size: 40px;
  }

  #showcase p {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  #showcase h1 {
    font-size: 30px;
  }

  #showcase p {
    font-size: 16px;
  }

  #main h2 {
    font-size: 24px;
  }

  #main p {
    font-size: 16px;
  }
}
